html,
body,
* {
        .gallery {
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
    }
.card{ 
    background-color: #fbcfd6;
    height: 50vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 0.5rem 0.2rem #e0a8b2;
    margin: 3rem 3rem
}